@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 0 150 150;

  --text-rgb: --primary-rgb;
  --background-rgb: 255 255 255;

  /* Utils */
  --black-rgb: 0 0 0;
  --black: rgb(var(--black-rgb));
  --white-rgb: 255 255 255;
  --white: rgb(var(--white-rgb));
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}
